.entr-btn {
  padding: 0.1em 0.3em;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  border-radius: 0.2em;
  border-radius: 0.2em;
  background-color: #f9f9f9;
  box-shadow: 0.1em 0.2em 0.2em #ddd;
  box-shadow: 0.1em 0.2em 0.2em #ddd;
  box-shadow: 0.1em 0.2em 0.2em #ddd;
  font-family: inherit;
  font-size: 0.85em;
  white-space: nowrap;
}
