.layaout-item {
  .useful-links {
    p {
      margin: none !important;
    }

    h1 {
      margin: 10px 0;
      font-size: 1.3em;
      font-weight: bold;
    }

    .useful-links-layaout-centre {
      display: flex;

      div {
        img {
          width: 120px;
          height: 120px;
        }
      }
    }
  }
}
