.layaout-item {
  .redirection {
    h1 {
      margin: 10px 0;
      font-size: 1.3em;
      font-weight: bold;
    }

    .rediraction-top-content {
      .top-text {
      }
    }

    .burger-img {
      img {
        width: 20px;
      }
    }
  }
}
