.final-stage {
  a {
    display: inline-block;
    width: fit-content;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #a2a9b1;
    margin: 5px 0;
    margin-bottom: 8px;
    appearance: none;
    background-color: #f8f9fa;
    clear: left;
    color: #202122;
    float: left;
    font-family: inherit;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.28571429em;
    text-align: center;
    vertical-align: middle;
  }
}
