.layaout-item {
  .table-container {
    border: 1px solid black;

    .table-name-types {
      .table-row-types {
        border: 1px solid black;

        td {
          border: 1px solid;
        }

        th {
          border: 1px solid black;
        }
      }
    }
  }
}

.footer-text {
  display: flex;
  flex-shrink: 1;

  p {
    float: left;
  }

  img {
    width: 150px;
    height: 83px;
    vertical-align: middle;
  }
}
