.navigation-info {
  .headline {
    span {
      font-family: 'Linux Libertine', Georgia, Times, serif;
      font-size: 1.9em;
      font-weight: 500 !important;
      line-height: 1.375;
    }
  }

  .headline-bottom {
    div {
      font-size: 12px;

      a {
        margin-left: 20px;
        text-decoration: none;
      }
    }
  }

  .navigation-container {
    display: flex;
    width: 90%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 60px !important;

    .navigation-titles-list {
      width: 30%;
      max-width: 30%;
      padding: 0 !important;
      border-right: 1px solid black;
      margin: 0;
      list-style: none;

      .navigation-title-item {
        position: relative;
        width: auto;
        padding-left: 30px;
        margin: 30px 0;

        h1 {
          color: #0b0080;
          font-size: 1.5em;
          font-weight: bold;

          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }

        &.active {
          &::before {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 10px;
            background-color: blue;
            content: ' ';
          }
        }
      }
    }

    .navigation-item-layaout {
      position: relative;
      width: 70%;
      max-width: 70%;
      padding: 35px;

      p {
        margin-bottom: 30px;
      }

      .navigation-info-next-btn {
        text-align: end;

        span {
          display: inline-block;
          box-sizing: border-box;
          padding: 5px 10px;
          border: 1px solid #aaa;
          border: 1px solid #a2a9b1;
          border-color: #3366cc;
          border-radius: 0.2em;
          border-radius: 0.2em;
          border-radius: 0.2em;
          border-radius: 2px;
          margin: 0;
          appearance: none;
          background-color: #f9f9f9;
          background-color: #f8f9fa;
          background-color: #3366cc;
          box-shadow: 0.1em 0.2em 0.2em #ddd;
          box-shadow: 0.1em 0.2em 0.2em #ddd;
          box-shadow: 0.1em 0.2em 0.2em #ddd;
          color: #202122;
          color: #fff;
          cursor: pointer;
          font-family: inherit;
          font-size: 0.85em;
          font-size: 1em;
          font-weight: bold;
          line-height: 1.28571429em;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
  }
}
