@media screen and (max-width: 1100px) {
  .stages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 1100px) {
  .stages-list {
    .stage-list-item {
      margin: 5px;
    }
  }
}
